.about-me {
  display: grid;
  padding: 110px 70px 100px;
  grid-template-columns: 54.5% auto;
  grid-template-areas: 'subheader subheader'
                        'description image';
}

.about-me__subheader {
  grid-area: subheader;
}

.about-me__description {
  max-width: 598px;
  grid-area: description;
}

.about-me__title {
  font-size: 50px;
  line-height: 1.16;
  margin: 66px 0 0;
  letter-spacing: -0.04em;
}

.about-me__subtitle {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin: 18px 0 0;
}

.about-me__text {
  line-height: 1.57;
  margin: 26px 0 0;
}

.about-me__links {
  display: flex;
  margin: 99px 0 0;
  padding: 0;
  list-style: none;
  column-gap: 20px;
}

.about-me__link-item {
  font-weight: 500;
  line-height: 1.21;
  text-decoration: none;
  color: inherit;
}

.about-me__image {
  width: 100%;
  max-width: 270px;
  height: auto;
  margin-top: 66px;
  border-radius: 10px;
  object-fit: cover;
  justify-self: end;
}

@media screen and (max-width: 1100px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__title {
    font-size: 40px;
    line-height: 1;
  }

  .about-me__subtitle {
    font-size: 12px;
    line-height: 1.5;
    margin: 16px 0 0;
  }

  .about-me__text {
    line-height: 1.5;
    margin: 20px 0 0;
  }

  .about-me__links {
    margin: 87px 0 0;
  }

  .about-me__link-item {
    font-size: 14px;
    font-weight: 500;
  }

  .about-me__image {
    max-width: 255px;
  }
}

@media screen and (max-width: 550px) {
  .about-me {
    padding: 70px 14px;
    grid-template-areas: 'subheader'
                         'image'
                         'description';
    grid-template-columns: auto;
  }

  .about-me__description {
    max-width: 598px;
    margin: 0 10px 0 0;
  }

  .about-me__title {
    font-size: 30px;
    line-height: 1.2;
    margin: 40px 0 0;
  }

  .about-me__subtitle {
    font-size: 11px;
    line-height: 1.45;
    margin: 20px 0 0;
  }

  .about-me__text {
    line-height: 1.45;
  }

  .about-me__links {
    margin: 40px 0 0;
    list-style: none;
    column-gap: 26px;
  }

  .about-me__image {
    max-width: 292px;
    margin-top: 60px;
  }
}
